<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>emphonic player v01</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
  </head>

  <body ng-app="EmphonicPlayer" ng-controller="MainCtrl">
<!--     <p>{{current_song.title}}</p>
    <p>{{current_song.url}}</p>
    <audio media-player="audio1" data-playlist="playlist1">
      <source src="https://s3.amazonaws.com/emphonic-player-demo/uploads/1043ceee-c81d-458c-a9ac-f2aede40d93e" type="audio/ogg">
      <source src="https://s3.amazonaws.com/emphonic-player-demo/uploads/97999ab8-8cca-4fa2-a324-207b6defbd98" type="audio/ogg">
    </audio> -->

    <!-- <ng-view></ng-view> -->
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">

            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><h1>emphonic player</h1></div>
            </div>
            <playlists-page></playlists-page>

            <div class="row">
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"></div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">page 1</div>
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">delay</div>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">playlist</div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <ul>
                <li ng-repeat="song in songs" ng-click="setCurrentSong(song)">{{ song.title }}</li>
                <li>track 03</li>
                <li>track 04</li>
                <li>track 05</li>
                <li>track 06</li>
                <li>track 07</li>
                <li>track 08</li>
                <li>track 09</li>
                <li>track 10</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: mediaPlayer.currentTime*100/mediaPlayer.duration + '%' }"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn"><i class="glyphicon glyphicon-step-backward"></i></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn"><i class="glyphicon glyphicon-play" ng-click="playButton()"></i></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn"><i class="glyphicon glyphicon-step-forward" ng-click="nextTrack()"></i></div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn"><i class="glyphicon glyphicon-minus-sign" ng-click="slowDown()"></i></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn"><i class="glyphicon glyphicon-remove-sign" ng-click="resetSpeed()"></i></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn"><i class="glyphicon glyphicon-plus-sign" ng-click="speedUp()"></i></div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn"><i class="glyphicon glyphicon-repeat"></i></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UploadSongModal"><i class="glyphicon glyphicon-upload" aria-hidden="true"></i></button>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn"><i class="glyphicon glyphicon-wrench"></i></div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn"><i class="glyphicon glyphicon-cog"></i></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn"><i class="glyphicon glyphicon-music"></i></div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 btn"><i class="glyphicon glyphicon-dashboard"></i></div>
          </div>

        </div>

      </div>
    </div>
    <button ng-click="setOpenedPlaylist(2, 'Bachata')">HELLO</button>
    <upload-song-modal title="Choose a song to upload"></upload-song-modal>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-media-player/dist/angular-media-player.js"></script>
    <script src="app.js"></script>
    <script src="factories/SongsFactory.js"></script>
    <script src="factories/PlaylistsFactory.js"></script>
    <script src="factories/AmazonService.js"></script>
    <script src="directives/file-model.js"></script>
    <script src="directives/upload-song-modal.js"></script>
    <script src="directives/open-playlist-modal.js"></script>
    <script src="directives/playlists-page.js"></script>

  </body>
</html>
