* {
  /*border-style: solid;
  border-width: 1px;*/
}

.glyphicon {
    font-size: 4.0em;
    margin: 10px;
}

.folder {
  margin: 2px;
  height: 70px;
  width: 70px;
}
.playlist-button {
  display: block;
  height: 80px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-image: url('images/playlist-button.jpg');
  color: #575358;
  border: 4px outset lightgrey;
  border-radius: 0;
  font-weight: bold;
}
.playlist-button:hover, .playlist-button:focus, .playlist-button:active, .playlist-button.active {
  background-image: url('images/playlist-button.jpg');
  border-color: lightgrey;
  outline: none !important;
  box-shadow: none !important;
}
.playlist-button:active, .playlist-button.active {
  border: 4px outset grey;
}
.playlist-button:hover {
  color: #969696;
}
.playlist-cell {
  padding: 10px 0px 10px 0px;
  height: 100px;
}
.playlist-row {
  /*background: gray;*/
}
.playlists-div {
  /*border: 1px solid grey;*/
  /*border: 4px outset lightgrey;*/
}

/* START playlist with songs page */
.song-cell {
  padding: 10px 0px 10px 0px;
  height: 100px;
}
.song-button {
  display: block;
  height: 80px;
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('images/song-button.jpg');
  border: 4px outset lightgrey;
  border-radius: 0;
  font-size: 1em;
  color: #575358;
  font-weight: bold;
}
.song-button:hover, .song-button:focus {
  background-image: url('images/song-button.jpg');
  border-color: lightgrey;
  outline: none !important;
  box-shadow: none !important;
  color: #969696;
}
.song-button:focus {
  color: #575358;
}
.song-button:active, .song-button.active {
  border: 4px outset grey;
}
/* END playlist with songs page */

/* START playlist navigation buttons page */
.playlist-nav-button {
  display: block;
  height: 40px;
  width: 120px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('images/song-button.jpg');
  border: 4px outset lightgrey;
  border-radius: 0;
  font-size: 1em;
  color: #575358;
  font-weight: bold;
}
.playlist-nav-button:hover, .playlist-nav-button:focus {
  background-image: url('images/song-button.jpg');
  border-color: lightgrey;
  outline: none !important;
  box-shadow: none !important;
  color: #969696;
}
.playlist-nav-button:focus {
  color: #575358;
}
.playlist-nav-button:active, .playlist-nav-button.active {
  border: 4px outset grey;
}
/* END playlist navigation buttons */

/* START playlists navigation buttons page */
.playlists-nav-button {
  display: inline;
  height: 40px;
  width: 39.5%;
  background-image: url('images/song-button.jpg');
  border: 4px outset lightgrey;
  border-radius: 0;
  font-size: 1em;
  color: #575358;
  font-weight: bold;
}
.playlists-nav-button:hover, .playlists-nav-button:focus {
  background-image: url('images/song-button.jpg');
  border-color: lightgrey;
  outline: none !important;
  box-shadow: none !important;
  color: #969696;
}
.playlists-nav-button:focus {
  color: #575358;
}
.playlists-nav-button:active, .playlists-nav-button.active {
  border: 4px outset grey;
}
.playlists-nav-button-prev {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 3%;
}
.playlists-nav-button-next {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 3%;
  margin-right: 0;
}
.playlists-page-number {
  display: inline;
  font-size: 2em;
  line-height: 20px;
  vertical-align: middle;
}
/* END playlists navigation buttons */

/* START song number */
.song-number-cell {
  padding: 10px 0px 10px 0px;
  height: 100px;
}
.song-number-button {
  display: block;
  /*margin-right: 0px;*/
  height: 80px;
  width: 40px;
  margin-left: auto;
  margin-right: 0px;
  background-image: url('images/song-button.jpg');
  border: 4px outset lightgrey;
  border-radius: 0;
  font-size: 1em;
  color: #575358;
  font-weight: bold;
}
.song-number-button:hover, .song-number-button:focus, .song-number-button:active, .song-number-button.active {
  background-image: url('images/song-button.jpg');
  border-color: lightgrey;
  outline: none !important;
  box-shadow: none !important;
}
.song-number-button:active, .song-number-button.active {
  border: 4px outset grey;
}
/* END song number */

/* START playlist folders edit button */
.playlist-folders-editor-closed {
  background-image: url('images/brushed-aluminum.jpg');
}

/* END playlist folders edit button */

.general-background {
  background-image: url('images/brushed-aluminum.jpg');
  background-size: cover;
  margin-top: 20px;
  padding: 10px;
}
.audio-playlist {
  height: 200px;
  border: 1px solid grey;
}
.logo-div {
  height: 100px;
  background-image: url('images/logo-plate.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.left-side {
  padding-right: 30px;
  /*border-right: 3px inset lightgrey;*/
}
.right-side {
  padding-left: 30px;
  border-left: 3px solid lightgrey;
}
.audio-playlist {
  overflow: scroll;
}
.audio-playlist ul {
  list-style-type: none;
}
