<h3>{{openedPlaylist}} tracks</h3>
<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 playlist-cell">1</div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="addSongToPlaylist(openedPlaylistSongs[0])">{{openedPlaylistSongs[0].author}}<br>{{openedPlaylistSongs[0].title}}</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 playlist-cell">6</div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="addSongToPlaylist(song)">{{orderedPlaylists[3].name}}</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 playlist-cell">11</div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="addSongToPlaylist(song)">{{orderedPlaylists[5].name}}</button>
  </div>
</div>
<ul class="list-group">
  <li class="list-group-item btn" ng-repeat="song in openedPlaylistSongs" ng-click="addSongToPlaylist(song)">{{song.author}} - {{song.title}}</li>
</ul>
<button class="btn" ng-click="closePlaylist()">CLOSE</button>
