<h3>{{openedPlaylist | uppercase}} TRACKS</h3>
<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-number-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+1}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+0])">{{openedPlaylistSongs[15*(currentSongsPage-1)+0].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+0].name}}</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-number-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+6}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+5])">{{openedPlaylistSongs[15*(currentSongsPage-1)+5].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+5].name}}</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+11}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+10])">{{openedPlaylistSongs[15*(currentSongsPage-1)+10].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+10].name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-number-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+2}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+1])">{{openedPlaylistSongs[15*(currentSongsPage-1)+1].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+1].name}}</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-number-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+7}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+6])">{{openedPlaylistSongs[15*(currentSongsPage-1)+6].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+6].name}}</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+12}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+11])">{{openedPlaylistSongs[15*(currentSongsPage-1)+11].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+11].name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-number-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+3}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+2])">{{openedPlaylistSongs[15*(currentSongsPage-1)+2].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+2].name}}</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-number-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+8}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+7])">{{openedPlaylistSongs[15*(currentSongsPage-1)+7].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+7].name}}</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+13}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+12])">{{openedPlaylistSongs[15*(currentSongsPage-1)+12].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+12].name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-number-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+4}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+3])">{{openedPlaylistSongs[15*(currentSongsPage-1)+3].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+3].name}}</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-number-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+9}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+8])">{{openedPlaylistSongs[15*(currentSongsPage-1)+8].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+8].name}}</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+14}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+13])">{{openedPlaylistSongs[15*(currentSongsPage-1)+13].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+13].name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-number-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+5}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+4])">{{openedPlaylistSongs[15*(currentSongsPage-1)+4].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+4].name}}</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-number-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+10}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+9])">{{openedPlaylistSongs[15*(currentSongsPage-1)+9].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+9].name}}</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-cell">
    <button type="button" class="song-number-button">{{15*(currentSongsPage-1)+15}}</button>
  </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 song-cell">
    <button type="button" class="song-button" ng-click="addSongToPlaylist(openedPlaylistSongs[15*(currentSongsPage-1)+14])">{{openedPlaylistSongs[15*(currentSongsPage-1)+14].artist}}<br>{{openedPlaylistSongs[15*(currentSongsPage-1)+14].name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 song-button-cell">
    <button class="playlist-nav-button" ng-click="closePlaylist()">CLOSE</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-button-cell"></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 song-button-cell">
    <button class="playlist-nav-button" ng-click="">CLEAR</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 song-button-cell">
    <button class="playlist-nav-button" ng-click="">PICK 5</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 song-button-cell"></div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <button class="playlists-nav-button playlists-nav-button-prev" ng-click="prevSongsPage()">PREV</button>
    <p class="playlists-page-number">{{currentSongsPage}}</p>
    <button class="playlists-nav-button playlists-nav-button-next" ng-click="nextSongsPage()">NEXT</button>
  </div>
</div>

