<h3>ALL PLAYLISTS</h3>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(1, orderedPlaylists[0].name)">{{orderedPlaylists[0].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(2, orderedPlaylists[1].name)">{{orderedPlaylists[1].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(3, orderedPlaylists[2].name)">{{orderedPlaylists[2].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(4, orderedPlaylists[3].name)">{{orderedPlaylists[3].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(5, orderedPlaylists[4].name)">{{orderedPlaylists[4].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(6, orderedPlaylists[5].name)">{{orderedPlaylists[5].name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(7, orderedPlaylists[6].name)">{{orderedPlaylists[6].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(8, orderedPlaylists[7].name)">{{orderedPlaylists[7].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(9, orderedPlaylists[8].name)">{{orderedPlaylists[8].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(10, orderedPlaylists[9].name)">{{orderedPlaylists[9].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(11, orderedPlaylists[10].name)">{{orderedPlaylists[10].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(12, orderedPlaylists[11].name)">{{orderedPlaylists[11].name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(13, orderedPlaylists[12].name)">{{orderedPlaylists[12].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(14, orderedPlaylists[13].name)">{{orderedPlaylists[13].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(15, orderedPlaylists[14].name)">{{orderedPlaylists[14].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(16, orderedPlaylists[15].name)">{{orderedPlaylists[15].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(17, orderedPlaylists[16].name)">{{orderedPlaylists[16].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(18, orderedPlaylists[17].name)">{{orderedPlaylists[17].name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(19, orderedPlaylists[18].name)">{{orderedPlaylists[18].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(20, orderedPlaylists[19].name)">{{orderedPlaylists[19].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(21, orderedPlaylists[20].name)">{{orderedPlaylists[20].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(22, orderedPlaylists[21].name)">{{orderedPlaylists[21].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(23, orderedPlaylists[22].name)">{{orderedPlaylists[22].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(24, orderedPlaylists[23].name)">{{orderedPlaylists[23].name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(25, orderedPlaylists[24].name)">{{orderedPlaylists[24].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(26, orderedPlaylists[25].name)">{{orderedPlaylists[25].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(27, orderedPlaylists[26].name)">{{orderedPlaylists[26].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(28, orderedPlaylists[27].name)">{{orderedPlaylists[27].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(29, orderedPlaylists[28].name)">{{orderedPlaylists[28].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(30, orderedPlaylists[29].name)">{{orderedPlaylists[29].name}}</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <button class="btn" ng-click="closePlaylist()">page 1</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <button class="btn" ng-click="closePlaylist()">delay</button>
  </div>
</div>


