<h3>ALL PLAYLISTS</h3>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(1, orderedPlaylists[0].name)">{{playlistFolders[30*(playlistFoldersPage-1)+0].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(2, orderedPlaylists[1].name)">{{playlistFolders[30*(playlistFoldersPage-1)+5].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(3, orderedPlaylists[2].name)">{{playlistFolders[30*(playlistFoldersPage-1)+10].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(4, orderedPlaylists[3].name)">{{playlistFolders[30*(playlistFoldersPage-1)+15].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(5, orderedPlaylists[4].name)">{{playlistFolders[30*(playlistFoldersPage-1)+20].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(6, orderedPlaylists[5].name)">{{playlistFolders[30*(playlistFoldersPage-1)+30].playlist.name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(7, orderedPlaylists[6].name)">{{playlistFolders[30*(playlistFoldersPage-1)+1].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(8, orderedPlaylists[7].name)">{{playlistFolders[30*(playlistFoldersPage-1)+6].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(9, orderedPlaylists[8].name)">{{playlistFolders[30*(playlistFoldersPage-1)+11].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(10, orderedPlaylists[9].name)">{{playlistFolders[30*(playlistFoldersPage-1)+16].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(11, orderedPlaylists[10].name)">{{playlistFolders[30*(playlistFoldersPage-1)+21].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(12, orderedPlaylists[11].name)">{{playlistFolders[30*(playlistFoldersPage-1)+26].playlist.name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(13, orderedPlaylists[12].name)">{{playlistFolders[30*(playlistFoldersPage-1)+2].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(14, orderedPlaylists[13].name)">{{playlistFolders[30*(playlistFoldersPage-1)+7].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(15, orderedPlaylists[14].name)">{{playlistFolders[30*(playlistFoldersPage-1)+12].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(16, orderedPlaylists[15].name)">{{playlistFolders[30*(playlistFoldersPage-1)+17].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(17, orderedPlaylists[16].name)">{{playlistFolders[30*(playlistFoldersPage-1)+22].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(18, orderedPlaylists[17].name)">{{playlistFolders[30*(playlistFoldersPage-1)+27].playlist.name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(19, orderedPlaylists[18].name)">{{playlistFolders[30*(playlistFoldersPage-1)+3].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(20, orderedPlaylists[19].name)">{{playlistFolders[30*(playlistFoldersPage-1)+8].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(21, orderedPlaylists[20].name)">{{playlistFolders[30*(playlistFoldersPage-1)+13].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(22, orderedPlaylists[21].name)">{{playlistFolders[30*(playlistFoldersPage-1)+18].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(23, orderedPlaylists[22].name)">{{playlistFolders[30*(playlistFoldersPage-1)+23].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(24, orderedPlaylists[23].name)">{{playlistFolders[30*(playlistFoldersPage-1)+28].playlist.name}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(25, orderedPlaylists[24].name)">{{playlistFolders[30*(playlistFoldersPage-1)+4].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(26, orderedPlaylists[25].name)">{{playlistFolders[30*(playlistFoldersPage-1)+9].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(27, orderedPlaylists[26].name)">{{playlistFolders[30*(playlistFoldersPage-1)+14].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(28, orderedPlaylists[27].name)">{{playlistFolders[30*(playlistFoldersPage-1)+19].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(29, orderedPlaylists[28].name)">{{playlistFolders[30*(playlistFoldersPage-1)+24].playlist.name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="btn btn-primary playlist-button" ng-click="openPlaylist(30, orderedPlaylists[29].name)">{{playlistFolders[30*(playlistFoldersPage-1)+29].playlist.name}}</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <button class="playlists-nav-button" ng-click="">delay</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <button class="playlists-nav-button" ng-click="prevPlaylistFoldersPage()">prev</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 playlists-page-number">
    <p>{{playlistFoldersPage}}</p>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <button class="playlists-nav-button" ng-click="nextPlaylistFoldersPage()">next</button>
  </div>
</div>


