<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#OpenPlaylistModal">{{orderedPlaylists[0].name}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">{{orderedPlaylists[1].name}}</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">{{orderedPlaylists[2].name}}</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">{{orderedPlaylists[3].name}}</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">{{orderedPlaylists[4].name}}</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">{{orderedPlaylists[5].name}}</div></div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">Samba</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">Rumba</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">Bachata</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">Fxtrt</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">E/C</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">Salsa</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">Arg Tango</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">Waltz</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">.hustle</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">...</div></div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><div class="folder">New Year's Eve</div>
</div>

<open-playlist-modal title="Songs in the playlist:"></open-playlist-modal>
