<h3>ALL PLAYLISTS</h3>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+1)">{{playlistFolders[30*(playlistFoldersPage-1)+0].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+6)">{{playlistFolders[30*(playlistFoldersPage-1)+5].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+11)">{{playlistFolders[30*(playlistFoldersPage-1)+10].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+16)">{{playlistFolders[30*(playlistFoldersPage-1)+15].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+21)">{{playlistFolders[30*(playlistFoldersPage-1)+20].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+26)">{{playlistFolders[30*(playlistFoldersPage-1)+25].playlist.name | uppercase}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+2)">{{playlistFolders[30*(playlistFoldersPage-1)+1].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+7)">{{playlistFolders[30*(playlistFoldersPage-1)+6].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+12)">{{playlistFolders[30*(playlistFoldersPage-1)+11].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+17)">{{playlistFolders[30*(playlistFoldersPage-1)+16].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+22)">{{playlistFolders[30*(playlistFoldersPage-1)+21].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+27)">{{playlistFolders[30*(playlistFoldersPage-1)+26].playlist.name | uppercase}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+3)">{{playlistFolders[30*(playlistFoldersPage-1)+2].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+8)">{{playlistFolders[30*(playlistFoldersPage-1)+7].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+13)">{{playlistFolders[30*(playlistFoldersPage-1)+12].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+18)">{{playlistFolders[30*(playlistFoldersPage-1)+17].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+23)">{{playlistFolders[30*(playlistFoldersPage-1)+22].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+28)">{{playlistFolders[30*(playlistFoldersPage-1)+27].playlist.name | uppercase}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+4)">{{playlistFolders[30*(playlistFoldersPage-1)+3].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+9)">{{playlistFolders[30*(playlistFoldersPage-1)+8].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+14)">{{playlistFolders[30*(playlistFoldersPage-1)+13].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+19)">{{playlistFolders[30*(playlistFoldersPage-1)+18].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+24)">{{playlistFolders[30*(playlistFoldersPage-1)+23].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+29)">{{playlistFolders[30*(playlistFoldersPage-1)+28].playlist.name | uppercase}}</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+5)">{{playlistFolders[30*(playlistFoldersPage-1)+4].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+10)">{{playlistFolders[30*(playlistFoldersPage-1)+9].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+15)">{{playlistFolders[30*(playlistFoldersPage-1)+14].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+20)">{{playlistFolders[30*(playlistFoldersPage-1)+19].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+25)">{{playlistFolders[30*(playlistFoldersPage-1)+24].playlist.name | uppercase}}</button>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 playlist-cell">
    <button type="button" class="playlist-button" ng-click="openPlaylist(30*(playlistFoldersPage-1)+30)">{{playlistFolders[30*(playlistFoldersPage-1)+29].playlist.name | uppercase}}</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"></div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <button class="playlist-nav-button" ng-click="">DELAY</button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <button class="playlists-nav-button playlists-nav-button-prev" ng-click="prevPlaylistFoldersPage()">PREV</button>
    <p class="playlists-page-number">{{playlistFoldersPage}}</p>
    <button class="playlists-nav-button playlists-nav-button-next" ng-click="nextPlaylistFoldersPage()">NEXT</button>
  </div>
</div>


