<div class="modal fade" id="UploadSongModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Chose an mp3 file to upload</h4>
      </div>
      <div class="modal-body" ng-controller="MainCtrl">

        <div id="form-for-s3">
          <input id="audio-file" name="file" type="file">
          <input type="text" name="title" placeholder="Title:">
          <input type="text" name="author" placeholder="Author:">
          <input type="text" name="album" placeholder="Album:">
        </div>

        <button id="upload-button" ng-click="uploadToS3()">Upload to S3</button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
